.item {
    list-style-type: none;
    border-top: 1px solid #E5E5E5;
    vertical-align: middle;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    width: 642px;
    height: 55px;
    padding-left: 0px;
}

.item:hover {
    background-color: #E5E5E5;
}

.location_icon {
    fill: #51516F;
    width: 11.64px;
    height: 16.64px;
    vertical-align: middle;
    margin: 19.68px 15.49px 18.68px 17.18px;
}

.item_suburb {
    width: 260.61px;
    height: 21px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20.72px;
    color: #403F5C;
    margin: 10px 337.08px 0px 0px;
    cursor: pointer;
}

.item_city {
    font-size: 12px;
    font-weight: 400;
    line-height: 17.76px;
    color: #787896;
    margin: 0px 337.08px 9px 0px;
}